<ion-pane>
	<ion-content has-header="false" class="bodyBg" padding="true">
		<div class="loginWrapper">
			<div class="logoTxt">
				<img src="img/logo.png" class="logo" />
			</div>
			<div class="list loginForm">
				<!-- <label class="item item-input">
					<input type="email" placeholder="Email" />
				</label>
				<label class="item item-input">
					<input type="text" placeholder="i-On Customer Code" />
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Password" />
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Confirm Password" />
				</label> -->
				<label class="item item-input">
					<input type="text" placeholder="i-On User ID" id="ucode"/>
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Password" id="upassword"/>
				</label>
			</div>
			<div class="text-center">
				<button class="button button-energized button-block mrgn0" ng-click="login()">SIGN IN</button>
			</div>
		</div>
	</ion-content>
</ion-pane>