<ion-pane>
    <ion-header-bar align-title="left" class="innerHdng">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-left" ng-click="back()"></button>
        </div>
        <h1 class="title">Speed Test</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-power" ng-click="logout()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" style="background: #F1F5F8;">
        <div class="speedo_wrapper">
			<div class="tab_header_top">
				<ul>
					<li><span class="ping_icon">Ping</span><span class="val">00</span><span class="unit">ms</span></li>
					<li><span class="download_icon">Download</span><span class="val">00</span><span class="unit">mbps</span></li>
					<li><span class="upload_icon">Upload</span><span class="val">00</span><span class="unit">mbps</span></li>
				</ul>
			</div>
			<div class="tab_content_body">
				<div id="ping">
					<div class="go">
						Go
					</div>
				</div>
				<div id="download">
					
				</div>
				<div id="upload"></div>
			</div>
		</div>
    </ion-content>
</ion-pane>






			