<ion-pane>
	<ion-header-bar align-title="left" class="innerHdng">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-left" ng-click="back()"></button>
		</div>
		<h1 class="title">Help</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-power" ng-click="logout()"></button>
		</div>
	</ion-header-bar>
	<ion-content padding="true" style="background: #F1F5F8;">
		<ion-list class="accordionList">
			<div ng-repeat="group in help">
				<ion-item class="item-stable right-icon unread" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
					{{group.title}}
					<i class="icon" ng-class="isGroupShown(group) ? 'ion-android-remove-circle' : 'ion-android-add-circle'"></i>
				</ion-item>
				<ion-item class="item-accordion" ng-show="isGroupShown(group)">
					<!-- <div ng-bind-html="group.message"></div> -->
					<p>{{group.message}}</p>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-pane>