<ion-pane>
	<ion-content has-header="false" class="sliderBg" padding="true" ng-style="{'background-image':'url('+sliderBg+')'}">
		<div class="padding">
			<ion-slide-box show-pager="true" auto-play="true" on-slide-changed="slideHasChanged($index)" class="walkThroughtBox">
				<ion-slide>
					<p class="text-right"><a class="button button-icon icon ion-android-close" ng-click="login()"></a></p>
					<div>
						<h2>Find</h2>
						<p>exclusive deals and offers for i-On Broadband customers covering a wide range of products & services</p>
					</div>
				</ion-slide>
				<ion-slide>
					<p class="text-right"><a class="button button-icon icon ion-android-close" ng-click="login()"></a></p>
					<div>
						<h2>Get Help</h2>
						<p>exclusive deals and offers for i-On Broadband customers covering a wide range of products & services</p>
					</div>
				</ion-slide>
				<ion-slide>
					<p class="text-right"><a class="button button-icon icon ion-android-close" ng-click="login()"></a></p>
					<div>
						<h2>Upgrade</h2>
						<p>exclusive deals and offers for i-On Broadband customers covering a wide range of products & services</p>
					</div>
				</ion-slide>
				<ion-slide>
					<p class="text-right"><a class="button button-icon icon ion-android-close" ng-click="login()"></a></p>
					<div>
						<h2>Track</h2>
						<p>exclusive deals and offers for i-On Broadband customers covering a wide range of products & services</p>
					</div>
				</ion-slide>
			</ion-slide-box>
			<div class="sliderLogo">
				<img src="img/logo-white.png" class="" />
			</div>
			<div class="text-center">
				<button class="button button-energized button-large button-block mrgn0" ng-click="login()">GET STARTED</button>
			</div>
		</div>
	</ion-content>
</ion-pane>